{{- if .Values.webhook.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: webhook
  labels:
    {{- include "auth.labels" . | nindent 4 }}
    app.kubernetes.io/component: webhook
spec:
  type: {{ .Values.webhook.service.type }}
  ports:
    - name: http
      port: {{ .Values.webhook.service.port }}
      targetPort: 8080
    - name: metrics
      port: 8081
      targetPort: 8081
  selector:
    {{- include "auth.webhook.selectorLabels" . | nindent 4 }}
{{- end }}
