{{- if .Values.lifecycle.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
    {{- include "app.labels" . | nindent 4 }}
  name: rolebinding-{{ template "app.fullname" . }}-svc
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: role-{{ template "app.fullname" . }}-svc
subjects:
- kind: ServiceAccount
  name: {{ include "app.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
{{- end}}

