{{- if .Values.webhook.enabled }}
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  annotations:
    cert-manager.io/inject-ca-from: ci-system/ci-serving-cert
  name: ci-mutating-webhook-configuration
webhooks:
  - admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: ci-webhook-service
        namespace: ci-system
        path: /mutate-v1alpha1-play
    failurePolicy: Fail
    name: mplay.kb.io
    rules:
      - apiGroups:
          - ci.w6d.io
        apiVersions:
          - v1alpha1
        operations:
          - UPDATE
        resources:
          - plays
    sideEffects: None
{{- end }}
