{{- if .Values.webhook.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: ci-webhook-service
  labels:
    {{- include "ci-operator.labels" . | nindent 4 }}
spec:
  ports:
    - port: 443
      targetPort: 9443
  selector:
    {{- include "ci-operator.selectorLabels" . | nindent 4 }}
{{- end }}
