---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  annotations:
    cert-manager.io/inject-ca-from: {{ include "ci-operator.namespace" . }}/ci-serving-cert
  name: ci-validating-webhook-configuration
webhooks:
  - admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: ci-webhook-service
        namespace: {{ include "ci-operator.namespace" . }}
        path: /validate-ci-w6d-io-v1alpha1-play
    failurePolicy: Fail
    name: vplay.kb.io
    rules:
      - apiGroups:
          - ci.w6d.io
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - plays
    sideEffects: None
