apiVersion: v2
name: ci-operator
description: A Helm chart for Kubernetes
type: application
version: 0.2.4
appVersion: v0.3.1
maintainers:
  - name: Wildcard
    email: support@w6d.io
  - name: david972
    email: david.alexandre@w6d.io
icon: https://w6d-public.s3.eu-west-3.amazonaws.com/pictures/ci-operator.png
dependencies:
- name: tekton
  repository: https://charts.w6d.io
  version: 0.1.1
  condition: tekton.install
  enabled: true
- name: vault
  repository: https://helm.releases.hashicorp.com
  version: 0.9.1
  condition: vault.enabled
  enabled: false
- name: minio
  repository: https://helm.min.io/
  version: 8.0.9
  condition: minio.enabled
  enabled: false
- name: cert-manager
  repository: https://charts.jetstack.io
  version: 1.2.0-alpha.2
  condition: cert-manager.enabled
  enabled: false
- name: ingress-nginx
  repository: https://kubernetes.github.io/ingress-nginx
  version: 3.23.0
  condition: ingress-nginx.enabled
  enabled: false
