---
apiVersion: v1
kind: Service
metadata:
  labels:
    {{- include "ci-operator.labels" . | nindent 4 }}
  name: ci-controller-manager-metrics-service
  namespace: {{ include "ci-operator.namespace" . }}
spec:
  ports:
    - name: metrics
      port: 8080
      targetPort: metrics
  selector:
    {{- include "ci-operator.selectorLabels" . | nindent 4 }}
