name: Lint and Test Charts

on: pull_request

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.4.1

      # Python is required because `ct lint` runs Yamale (https://github.com/23andMe/Yamale) and
      # yamllint (https://github.com/adrienverge/yamllint) which require Python
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Add dependency chart repos
        run: |
          helm repo add hashicorp     https://helm.releases.hashicorp.com
          helm repo add minio         https://helm.min.io/
          helm repo add jetstack      https://charts.jetstack.io
          helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
          helm repo add w6dio         https://charts.w6d.io
          helm repo add bitnami       https://charts.bitnami.com/bitnami

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.0.1
        with:
          version: v3.3.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config ct.yaml)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi
          echo 'LIST_CHANGED<<EOF' >> $GITHUB_ENV
          ct list-changed --config ct.yaml >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV

      # install kafka for kafka-connect
      - name: Start Bitname Kafka
        uses: bbcCorp/kafka-actions@v1
        if: ${{ contains(env.LIST_CHANGED, 'kafka-connect') }}

      - name: Run chart-testing (lint)
        run: ct lint --config ct.yaml

      - name: Create docker config.json
        shell: bash
        env:
          CONFIGJSON: ${{ secrets.DOCKERCONFIGJSON }}
        run: |
          if [ -z "$CONFIGJSON" ] ; then
            exit 1
          fi
          cat > /tmp/config.json <<_EOF
          $CONFIGJSON
          _EOF

      - name: Create kind cluster
        uses: helm/kind-action@v1.1.0
        if: steps.list-changed.outputs.changed == 'true'
        with:
          version: v0.10.0
          config: kind.yaml

      - name: Run chart-testing (install)
        run: ct install --config ct.yaml
